body{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #92bafd;
}
.App{
    background-image: url("https://t4.ftcdn.net/jpg/08/39/84/39/360_F_839843952_OliE7rGgPcoBhjT84RisBJo12lMqMOEg.jpg");
    background-size: cover;

    border-radius: 2rem          ;

}
.Card {
    border-top-left-radius: 2rem;
    backdrop-filter: blur(8px);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
   /* Ensure the image covers the entire card */
    height: 70vh;
    width: 25vw;
    font-size: 1rem;
    color: #000;  /* Semi-ransparent white overlay */
}

/* I Phone 7 */
@media (min-width: 0px) and (max-width: 320px) {
    .Card{
        width: 80vw;
        height: 80vh;
        font-size: 1rem;
    }
}

/* NORMAL PHONE */
@media (min-width: 321px) and (max-width: 375px) {
    .Card{
        width: 80vw;
        height: 65vh;
    }
}

/* I PHONE 13 ONE PLUS*/
@media (min-width: 376px) and (max-width: 425px) {
    .Card{
        width: 80vw;
        height: 60vh;
    }
}

/* I PHONE 13 MAX */
@media (min-width: 426px) and (max-width: 767px) {
    .Card{
        width: 80vw;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .Card{
        width: 60vw;
        height: 70vh;
    }
}

/* Foldable Mobile */
@media (min-width: 1024px) and (max-width: 1439px) {
    .Card{
        width: 35vw;
    }
}
